img{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /*height: 130px;*/
}
.deck{
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    /*height: 130px;*/

}

.allcards{
    display: flex;
    padding-bottom: 15px;
}

.trumpCard{
    display: flex;

}

.playerCards{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.dealerCards{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 360px;
}

button{
    background-color: maroon;
    width: 150px;
    height: 40px;
}
a{
    color: white;
}

.cardsNumb{
    z-index: 1;
    /*width: 50%;*/
    /*margin: 0 auto;*/
}